@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-mono: ui-monospace, monospace;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.clip-diagonal {
    clip-path: polygon(0 0, 65% 0, 55% 100%, 0 100%);
}